/* Team Case Project CSS.css */

h1, ul, p, li{color: White; font-family: 'Roboto', sans-serif;}
.underline{text-decoration: underline;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #797D7F; 
	font-size: 125%
}

li {
    float: left;
}

li a:hover {
    background-color: #111;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #141414;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .dropbtn1 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a, .dropbtn2 {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
 
li a:hover, .dropdown:hover .dropbtn {
    background-color: #76D7C4;
}

li a:hover, .dropdown1:hover .dropbtn1 {
    background-color: #76D7C4;
}

li a:hover, .dropdown2:hover .dropbtn2 {
    background-color: #76D7C4;
}

li.dropdown {
    display: inline-block;
}

li.dropdown1 {
    display: inline-block;
}

li.dropdown2 {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown2-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown1-content a:hover {background-color: #f1f1f1}

.dropdown2-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown1:hover .dropdown1-content {
    display: block;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

h1 {
    position: relative;
    left: 30px;
	font-size: 150%;
}